@import "./vendor/normalize.css";
@import "vendor/font/opensans/opensans.css";


.body {
  margin: 0 auto;
  font-family: 'Open Sans', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /*--color-light-gray: #E5E5E5;*/
  /*--color-gray: #828282;*/
  /*--color-light-black: #3E3E3E;*/
  /*--color-light-gray-text: #9E9E9E;*/
  /*--color-gray-text: #4B4B4B;*/
  /*--color-yellow: #FED74B;*/
  /*--color-dark-yellow: #CBA500;*/
  /*--color-light-blue: #D9E8FF;*/
  /*--color-blue: #6BA6FF;*/
  /*--color-violet: #7553FF;*/
  /*--color-black: #000;*/
  --color-white: #fff;
  background-color: var(--color-white);
}

.content {
  padding: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__time-back {
  display: none;
}

.form__time-back_show {
  display: block;
}

.result {
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.result_show {
  visibility: visible;
  opacity: 1;
}