.content {
  padding: 27px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__button {
  text-decoration: none;
  margin-top: 25px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .content {
    padding: 67px 60px;
  }
}

@media (min-width: 768px) {
  .content {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .content {
    padding: 67px 0;
  }
}