.order__title {
  max-width: 350px;
  margin: 0 auto 25px;
  text-align: center;
}

.order__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
}

.order__time-back {
  display: none;
}

.order__time-back_show {
  display: block;
}

.order__result {
  max-width: 350px;
  margin: 25px auto 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: all .3s;
}

.order__result_show {
  visibility: visible;
  opacity: 1;
}

.order__count {
  font-weight: 600;
}

@media (min-width: 768px) {
  .order__title {
    max-width: 550px;
  }

  .order__result {
    max-width: 500px;
  }
}