.trip {
  width: 341px;
  box-sizing: border-box;
  border: .3px solid var(--color-gray);
  border-radius: 16px;
  overflow: hidden;
}

.trip__image-container {
  position: relative;
}

.trip__image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.trip__label {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 8px 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}

.trip__label_content_new {
  background-color: var(--color-yellow);
  color: var(--color-light-black);
}

.trip__label_content_year {
  background-color: var(--color-violet);
  color: var(--color-white);
}

.trip__info {
  padding: 14px 12px 19px;
}

.trip__time {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: var(--color-light-gray-text);
}

.trip__time::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../images/oclock.svg") center / cover no-repeat;
  margin-right: 9px;
}

.trip__caption {
  margin: 0 0 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-light-black);
}

.trip__sale {
  text-transform: uppercase;
}

.trip__descriptions {
  margin: 0 0 35px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.trip__description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-gray-text);
  padding-left: 36px;
  background: url("../../images/check.svg") left 5px / 16px 12px no-repeat;
}

.trip__departures {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.trip__departure {
  padding: 2px;
  width: 63px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--color-gray-text);
  background-color: var(--color-light-blue);
  border-radius: 11px;
}

.trip__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
}

.trip__prices {
  color: var(--color-black);
}

.trip__price {
  display: block;
  font-weight: 400;
  font-size: 30px;
  line-height: .7;
}

.trip__cash-price {
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
}

.trip__button {
  min-width: 165px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-light-black);
  border: .5px solid var(--color-dark-yellow);
  border-radius: 20px;
  background-color: var(--color-yellow);
}

@media (min-width: 768px) {
  .trip {
    width: 100%;
    min-height: min-content;
    display: flex;
    flex-wrap: nowrap;
    border: .5px solid var(--color-gray);
    border-radius: 15px;
  }

  .trip__image-container {
    min-width: 42.7%;
  }

  .trip__image {
    width: 100%;
    height: 100%;
  }

  .trip__info {
    display: flex;
    flex-direction: column;
    padding: 17px 30px 24px 23px;
  }

  .trip__caption {
    margin-bottom: 12px;
    order: -1;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: var(--color-black);
  }

  .trip__time {
    margin-bottom: 13px;
  }

  .trip__time::before {
    margin-right: 6px;
  }

  .trip__descriptions {
    margin-bottom: 23px;
    gap: 16px;
  }

  .trip__description {
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.1;
  }

  .trip__departures {
    gap: 6px;
  }

  .trip__departure {
    cursor: pointer;
    transition: all .3s;
  }

  .trip__departure:hover {
    background-color: var(--color-blue);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  .trip__footer {
    padding: 0;
  }

  .trip__cash-price {
    font-size: 12px;
    line-height: 1.4;
  }

  .trip__button {
    cursor: pointer;
    transition: all .3s;
  }

  .trip__button:hover {
    background-color: var(--color-dark-yellow);
  }
}

@media (min-width: 1200px) {
  .trip {
    width: 1106px;
  }

  .trip__label {
    top: 45px;
    padding: 11px 35px;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
  }

  .trip__caption {
    font-size: 26px;
  }

  .trip__time {
    font-size: 14px;
    line-height: 1.4;
  }

  .trip__description {
    font-size: 18px;
  }

  .trip__departures {
    gap: 6px;
  }

  .trip__departure {
    width: 73px;
    padding: 4px;
    font-size: 16px;
    line-height: 1.25;
  }

  .trip__footer {
    justify-content: flex-start;
    gap: 14px;
  }

  .trip__price {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 2px;
  }

  .trip__cash-price {
    font-size: 14px;
  }

  .trip__button {
    min-width: 187px;
    padding: 16px;
    font-size: 18px;
    line-height: 1.1;
    border: none;
    border-radius: 23px;
  }
}